---
# Habilita estos checks (se puede afinar a tus necesidades)
Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  misc-unused-parameters,
  cppcoreguidelines-*,
  readability-identifier-naming

# No convertir warnings en errores para que los veas bien
WarningsAsErrors: ''

# Aplica solo a archivos bajo include/ y engine/src/, puedes modificar según proyecto
HeaderFilterRegex: '^(include|engine/src)/'

# Formato de salida sin modificar el código
FormatStyle: none

# Opciones de algunos checks (puedes afinar o eliminar)
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           _
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberCase
    value:           camelBack
  - key:             readability-identifier-naming.MethodCase
    value:           camelBack
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.IgnoreMainLikeFunctions
    value:           true

---
